<%- include('./partials/head'); %>
<figure class="shirt-container">
    <svg class="shirt" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 511.882 511.882"
        style="enable-background:new 0 0 511.882 511.882;" xml:space="preserve">
        <polygon points="362.587,42.65 149.301,42.65 0,127.959 42.662,245.268 106.647,223.937 106.647,469.232 
    405.25,469.232 405.25,223.937 469.236,245.268 511.882,127.959 " />
        <path d="M255.948,117.297c41.233,0,74.647-33.422,74.647-74.647H181.294
    C181.294,83.875,214.716,117.297,255.948,117.297z" />
    </svg>
    <form>
        <h3>Create your own customized t-shirt</h3>
        <h4>Color:</h4>
        <fieldset>
            <label for="color-black">Black</label>
            <input type="radio" id="color-red" name="shirt-color" value="red" required />
            <label for="color-white">White</label>
            <input type="radio" id="color-white" name="shirt-color" value="white" required />
            <label for="color-blue">Blue</label>
            <input type="radio" id="color-blue" name="shirt-color" value="blue" required />
            <label for="color-yellow">Yellow</label>
            <input type="radio" id="color-yellow" name="shirt-color" value="yellow" required />
        </fieldset>
        
        <h4>Size:</h4>
        <fieldset>
            <label for="xs">XS</label>
            <input type="radio" id="xs" name="Size" value="xs" required />
            <label for="s">S</label>
            <input type="radio" id="s" name="Size" value="s" required />
            <label for="m">M</label>
            <input type="radio" id="m" name="Size" value="m" required />
            <label for="l">L</label>
            <input type="radio" id="l" name="Size" value="l" required />
            <label for="xl">XL</label>
            <input type="radio" id="xl" name="Size" value="xl" required />
        </fieldset>
        
        <h4>Gender:</h4>
        <fieldset>
            <label for="man">Man</label>
            <input type="radio" id="man" name="gender" value="man" required />
            <label for="woman">Woman</label>
            <input type="radio" id="woman" name="gender" value="woman" required />
        </fieldset> 
        
        <h4>Click submit to add order to your bag</h4>
        <fieldset>
        <a href="/Views/bestelpagina.ejs">
        <button type="submit">Submit</button>
        </a>
        </fieldset>
    </form>

<%- include('./partials/footer'); %>