<%- include('./partials/head'); %>
<figure class="shirt-container">
    <svg class="shirt" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 511.882 511.882"
        style="enable-background:new 0 0 511.882 511.882;" xml:space="preserve">
        <polygon points="362.587,42.65 149.301,42.65 0,127.959 42.662,245.268 106.647,223.937 106.647,469.232 
    405.25,469.232 405.25,223.937 469.236,245.268 511.882,127.959 " />
        <path d="M255.948,117.297c41.233,0,74.647-33.422,74.647-74.647H181.294
    C181.294,83.875,214.716,117.297,255.948,117.297z" />
    </svg>
    </figure>
    <form method="POST" action="/winkelmand">
        <h3>Maak je eigen Nerdy t-shirt!</h3>
        <h4>Kleur</h4>
        <fieldset>
            <label for="color-zwart">Zwart</label>
            <input type="radio" id="color-zwart" name="shirtColor" value="zwart" required />
            <label for="color-wit">Wit</label>
            <input type="radio" id="color-wit" name="shirtColor" value="wit" required />
            <label for="color-blauw">Blauw</label>
            <input type="radio" id="color-blauw" name="shirtColor" value="blauw" required />
            <label for="color-geel">Geel</label>
            <input type="radio" id="color-geel" name="shirtColor" value="geel" required />
        </fieldset>
        
        <h4>Maat</h4>
        <fieldset>
            <label for="xs">XS</label>
            <input type="radio" id="xs" name="shirtSize" value="xs" required />
            <label for="s">S</label>
            <input type="radio" id="s" name="shirtSize" value="s" required />
            <label for="m">M</label>
            <input type="radio" id="m" name="shirtSize" value="m" required />
            <label for="l">L</label>
            <input type="radio" id="l" name="shirtSize" value="l" required />
            <label for="xl">XL</label>
            <input type="radio" id="xl" name="shirtSize" value="xl" required />
        </fieldset>
        
        <h4>Geslacht</h4>
        <fieldset>
            <label for="man">Man</label>
            <input type="radio" id="man" name="gender" value="man" required />
            <label for="woman">Vrouw</label>
            <input type="radio" id="woman" name="gender" value="woman" required />
        </fieldset> 
        
        <h4>Bestelling toevoegen aan je winkelmand</h4>
        <a href="/bestelpagina.ejs">
        <button type="submit">Toevoegen</button>
        </a>
    </form>