<%- include('./partials/head'); %>
<body>
    <h1>Checkout</h1>
    <form>
        <h4>Name:</h4>
        <fieldset>
            <input type="text" id="name" required />
        </fieldset>
        
        <h4>Postal code:</h4>
        <fieldset>
            <input type="text" id="postalcode" required />
        </fieldset>
        
        <h4>Adress:</h4>
        <fieldset>
            <input type="text" id="adress" required />
        </fieldset> 

        <h4>Mobile:</h4>
        <fieldset>
            <input type="number" id="mobile" required />
        </fieldset> 
        
        <h4>Click submit to add order to your bag</h4>
        <fieldset>
            <a href="/">Order</a>
        </fieldset>
    </form>
</body>