:root {
    --bgc: #264653;
    --bgc-light: #2A9D8f;
    --orange: #E76F51;
    --orange-light: #F4A261;
}

* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    display: grid;
    justify-content: center;
    color:#db722c;
    font-family: "raleway";
    letter-spacing: 0.05em;
    background-color: bisque;
    opacity: 0.9;
}

.linkjes {
  width: 100%;
}

form {
  top: 60%;
  left: 50%;
  width: 100%;
  background: rgba(0,0,0,0.8);
  padding: 30px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

.t-shirt {
  position: relative;
}

.t-shirt #tekstTshirt {
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    top: 7.5rem;
    font-size: 4rem;
    font-weight: 800;
    color: black;
    -webkit-text-stroke: 0.4px white;
  }
  
#errorMsg {
  max-width: 13rem;
}

.shoppinglist {
  padding: 3rem;
  width: 100%;
}

.winkelmand-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid black;
  padding: 1rem 3rem;
  margin-bottom: 2rem;
}

.winkelmand-container svg {
  width: 100%;
}

.winkelmand-container div {
  width: 100%;
  text-align: right;
}

.order {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-bottom: 4rem;
}

.order a {
  text-decoration: none;
  border: 1px solid black;
  padding: 1rem 2rem;
  color: black;
  transition: 0.3s;
}
.order a:hover,
.order a:focus {
  background: rgb(231, 131, 49);
  color: #fff;
}

button:hover,
button:focus {
  background: rgb(231, 131, 49);
  color: #fff;
}

button {
  text-decoration: none;
  border: 1px solid black;
  padding: 1rem 2rem;
  color: rgb(231, 131, 49);
  text-transform: uppercase;
  font-weight: 800;
  font-family: raleway;
}

  @media screen and (max-width: 600px) {
    body, form, a {
      width: 100%;
      margin-top: 0;
    }
  }